.App {
  padding: 20px;
  text-align: left;
}

.won-card{
  background-color: #3B652C;
  color: #97D880;
}

.lost-card{
  background-color: #821E2F;
  color: #FB7272;
}

.lost-card a {
  color:#400C0C;
}

.won-card a{
  color: #0A2D07;
}